<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agriculture</title>
    
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>United States Agricultural Dashboard</h1>
                <p>Use the interactive charts below to explore the dataset</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="well">
                    <h5>State Name:</h5>
                    <select id="stateDataset" onchange="stateChanged(this.value)"></select>
                </div>
                <div class="well">
                    <h5>County Name:</h5>
                    <select id="countyDataset" onchange="countyChanged(this.value)"></select>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Agricultural Info</h3>
                    </div>
                    <div id="sample-metadata" class="panel-body"></div>
                </div>
            </div>
            <div class="col-md-10" id="map-holder">
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="barchart"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="sunmap"></div>
            </div>
        </div>
    </div>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
    <!-- API key -->
    <script type="text/javascript" src="./static/js/config.js"></script>
    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="./static/js/choropleth.js"></script>
     <!-- JS  -->
    <script type="text/javascript" src="./static/js/logic.js"></script>

</body>

</html>